.clear {
    clear: both;
}

.thdk-video {
    float: left;
    width: 66%;
    padding: 1em;
}

.extra-panel {
    float: left;
    width: 69%;
    margin-top: 1em;
}
.extra-panel .sub {
    line-height: 2;
    font-size: 1.2em
}

.extra-panel .sub p.original {
    color: #099709;
}

.extra-panel .sub p.translation {
    color: #b4790d;
}

.center-text {
    text-align: center;
}

.hidescrollbar-wrapper {
    overflow: hidden;
}

.hidescrollbar {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
    padding-bottom: 15px;
  }

.thdk-subs-wrapper {
    float: right;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    height: 90%;
}

.thdk-subs {
    color:#099709;
}

.subtitle-wrapper {
    margin-bottom: 1em;
    padding-left: 30px;
    position: relative;
}

.subtitle-wrapper .translate {
    position: absolute;
    cursor: pointer;
    left: 0;
    height: 11px;
    top: -10px;
    width: 11px;
    padding: 10px;
}

.subtitle-wrapper .original {
    margin-bottom: 0.5em;
}

.subtitle-wrapper .translation p {
    margin-bottom: 0.5em;
}

.subtitle-wrapper .original p span:hover {
    cursor: pointer;
    color:  #c3881c;
}

.subtitle-wrapper .translation {
    color: #c3881c;
    margin-top: 0.2em;
}

.subtitle-wrapper .translation.ignored {
    color: #808080;
}

.extra-original {
    float: left;
    width: 50%;
}

.extra-translation {
    float: left;
    width: 50%;
}

.subtitlesLayout2 .subtitlesLine {
    font-size: 1.5em;
    line-height: 1em;
}

#thdk-bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}